/nextjs-blog-front/node_modules/
/nextjs-blog-server/node_modules/
/nextjs-blog-front/.vscode
/nextjs-blog-server/.vscode
/nextjs-blog-front/.specstory
/nextjs-blog-server/.specstory
/nextjs-blog-front/.cursorindexingignore
/nextjs-blog-server/.cursorindexingignore
/nextjs-blog-front/.next/
